.App-header{
    background-color: #007F6D;
}


@media screen and (max-width: 480px) {
    .App-header {
        padding-left: 200px  ;
        transition: all 0.2s;
    }

    .sec-two{
        display: none;
        font-size: 0;
        transition: all 0.1s;
    }
}